/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: block;
  font-family: PressStart2P, Arial, Helvetica, sans-serif;
  color:var(--theme-color);
  font-weight: 400;
  background: var(--bg-color) var(--bg-image) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 0 clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
}

/*--- HEADER ---*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid var(--theme-color);
  min-block-size: clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
  margin: 100px 0; 
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); ;
  margin-bottom: 20px;
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.theme-menu {
  display: block;
  margin: 25px 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: clamp(0.875rem, 0.6329rem + 1.0329vw, 1.5625rem);
}

.theme-menu__button {
  position: relative;
  display: block;
  font-family: PressStart2P, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  cursor: pointer;
}


.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 2px;
  background-color: var(--theme-color-alpha);
  transition: none;
}

.theme-menu__button:disabled {
  color: var(--theme-color-alpha);
  transition: color 1s;
}

.theme-menu__button:disabled::before {
  display: block;
  position: absolute;
  left: -19px;
  content: '▶';
  width: 0%;
  height: 0%;
  transition: 1s;
  animation: motion-menu 1s infinite ease-out;
}

@keyframes motion-menu {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}


.theme-menu__button:hover {
  color: var(--theme-color-alpha);
  transition: color 0.5s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--theme-color-alpha);
  transition: color 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transition: width 0.5s;
}


/* --- MAIN --- */

.section__heading {
  margin: 4px 10px 6px;
}

section__text {
  margin: 25px 95px 27px 25px; 
}

/* --- FOOTER --- */

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
  font-family: PressStart2P, Arial, Helvetica, sans-serif;
  color:var(--theme-color);
  font-weight: 400;
  font-size: 14px;
  text-transform:initial;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 15px 20px;
  border: 2px solid var(--theme-color);
  background-color: transparent;
}

.footer__text::first-letter {
  text-transform: uppercase;
}

.footer__text {
  display: block;
  width: max-content;
}