/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --theme-color: #00CC14;
    --theme-color-alpha: rgb(0, 204, 20, 0.6);
    --bg-color: #000000;
    --bg-image: url("../images/background-dark.png")
}